<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" name="spring-boot-log">
    <Properties>
        <Property name="bootstrap.servers">localhost:9092</Property>
        <Property name="kafka.topic.logs">errors</Property>
        <Property name="kafka.username">username</Property>
        <Property name="kafka.password">password</Property>
        <Property name="kafka.group.id">logger-group</Property>
<!--        <Property name="application.name">${spring:spring.application.name}</Property>-->
        <Property name="application.name">${env:APP_NAME}</Property>
        <Property name="kafka.logging.level">${env:KAFKA_LOGGING_LEVEL}</Property>
    </Properties>

    <Appenders>
        <Kafka name="Kafka" topic="${kafka.topic.logs}">
            <Property name="bootstrap.servers">${bootstrap.servers}</Property>
<!--            <Property name="security.protocol">SASL_PLAINTEXT</Property>-->
<!--            <Property name="sasl.mechanism">PLAIN</Property>-->
<!--            <Property name="group.id">${kafka.group.id}</Property>-->
<!--            <Property name="sasl.jaas.config">org.apache.kafka.common.security.plain.PlainLoginModule required-->
<!--                username="${kafka.username}" password="${kafka.password}";-->
<!--            </Property>-->

            <GelfLayout compact="true"
                        eventEol="true"
                        properties="true"
                        includeTimeMillis="true">
                <ThreadContextIncludes>requestId,sessionId,loginId,userId,ipAddress,callingHost</ThreadContextIncludes>
                <KeyValuePair key="application" value="${application.name}"/>
                <KeyValuePair key="timestamp" value="$${date:yyyy-MM-dd'T'HH:mm:ss.SSSZ}" />
                <KeyValuePair key="application" value="$${lower:${spring:spring.application.name}}"/>
            </GelfLayout>
        </Kafka>


        <Console name="stdout" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} %highlight{${application.name}} %highlight{%-5p} [%X{traceId},%X{spanId}] [%-7t] %F:%L - %m%n"/>
        </Console>

        <Async name="Async">
            <AppenderRef ref="Kafka"/>
        </Async>
    </Appenders>

    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Kafka" level="off"/>
            <AppenderRef ref="stdout"/>
        </Root>

        <Logger name="org.apache.kafka" level="off" />
<!--        <Logger name="org.springframework.boot.logging.log4j2.SpringEnvironmentLookup" level="off"/>-->
        <Logger name="org.springframework.core.env.StandardEnvironment" level="off" />
    </Loggers>

</Configuration>